<a href="https://colab.research.google.com/github/mmaithani/Kaggle-Projects/blob/master/global_wheat_head_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd

In [ ]:
 ! pip install -q kaggle
#  ! pip install --upgrade kaggle

In [ ]:
 ! mkdir ~/.kaggle

### copy kaggle api in kaggle directory

In [ ]:
! cp /kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# check kaggle api
! kaggle datasets list

## two directories for data and images

In [ ]:
! mkdir /content/dataset
! kaggle competitions download -c 'global-wheat-detection' -p '/content/dataset'

In [ ]:
! mkdir /content/images
! kaggle competitions download -c 'global-wheat-detection' -p '/content/images'

In [ ]:
os.listdir('/content')

['.config',
 'train.csv.zip',
 'sample_submission.csv',
 '.ipynb_checkpoints',
 'sample_data']

In [ ]:
# !rm   'cb8d261a3.jpg' 'aac893a91.jpg'

In [ ]:
! unzip /content/train.csv.zip

Archive:  /content/train.csv.zip
  inflating: train.csv

In [57]:
train=pd.read_csv('train.csv')
sampple_output = pd.read_csv('sample_submission.csv')

In [67]:
train.tail(20)

         image_id  width  height                          bbox     source
147773  e6b5e296d   1024    1024  [248.0, 303.0, 130.0, 107.0]  arvalis_2
147774  5e0747034   1024    1024   [273.0, 284.0, 113.0, 92.0]  arvalis_2
147775  5e0747034   1024    1024   [494.0, 125.0, 105.0, 92.0]  arvalis_2
147776  5e0747034   1024    1024   [412.0, 220.0, 115.0, 97.0]  arvalis_2
147777  5e0747034   1024    1024   [332.0, 404.0, 131.0, 87.0]  arvalis_2
147778  5e0747034   1024    1024    [289.0, 742.0, 87.0, 72.0]  arvalis_2
147779  5e0747034   1024    1024    [775.0, 586.0, 72.0, 56.0]  arvalis_2
147780  5e0747034   1024    1024   [389.0, 927.0, 180.0, 97.0]  arvalis_2
147781  5e0747034   1024    1024    [673.0, 337.0, 79.0, 95.0]  arvalis_2
147782  5e0747034   1024    1024   [911.0, 243.0, 110.0, 79.0]  arvalis_2
147783  5e0747034   1024    1024    [668.0, 81.0, 110.0, 70.0]  arvalis_2
147784  5e0747034   1024    1024      [716.0, 7.0, 80.0, 64.0]  arvalis_2
147785  5e0747034   1024    1024  [217.0, 865.0, 115.0, 102.0]  arvalis_2
147786  5e0747034   1024    1024     [916.0, 46.0, 64.0, 56.0]  arvalis_2
147787  5e0747034   1024    1024    [852.0, 640.0, 82.0, 94.0]  arvalis_2
147788  5e0747034   1024    1024     [64.0, 619.0, 84.0, 95.0]  arvalis_2
147789  5e0747034   1024    1024   [292.0, 549.0, 107.0, 82.0]  arvalis_2
147790  5e0747034   1024    1024   [134.0, 228.0, 141.0, 71.0]  arvalis_2
147791  5e0747034   1024    1024    [430.0, 13.0, 184.0, 79.0]  arvalis_2
147792  5e0747034   1024    1024    [875.0, 740.0, 94.0, 61.0]  arvalis_2

In [65]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147793 entries, 0 to 147792
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   image_id  147793 non-null  object
 1   width     147793 non-null  int64
 2   height    147793 non-null  int64
 3   bbox      147793 non-null  object
 4   source    147793 non-null  object
dtypes: int64(2), object(3)
memory usage: 5.6+ MB

In [66]:
sampple_output.tail()

    image_id PredictionString
5  348a992bb    1.0 0 0 50 50
6  cc3532ff6    1.0 0 0 50 50
7  2fd875eaa    1.0 0 0 50 50
8  cb8d261a3    1.0 0 0 50 50
9  53f253011    1.0 0 0 50 50