<a href="https://colab.research.google.com/github/mmaithani/Kaggle-Projects/blob/master/global_wheat_head_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import os
import pandas as pd

In [ ]:
 ! pip install -q kaggle
#  ! pip install --upgrade kaggle

In [ ]:
 ! mkdir ~/.kaggle

### copy kaggle api in kaggle directory

In [ ]:
! cp /kaggle.json ~/.kaggle/

In [8]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# check kaggle api
! kaggle datasets list

## two directories for data and images

In [ ]:
! mkdir /content/dataset
! kaggle competitions download -c 'global-wheat-detection' -p '/content/dataset'

In [ ]:
! mkdir /content/images
! kaggle competitions download -c 'global-wheat-detection' -p '/content/images'

In [48]:
os.listdir('/content')

['.config',
 'train.csv.zip',
 'sample_submission.csv',
 '.ipynb_checkpoints',
 'sample_data']

In [46]:
# !rm   'cb8d261a3.jpg' 'aac893a91.jpg'

In [51]:
! unzip /content/train.csv.zip

Archive:  /content/train.csv.zip
  inflating: train.csv

In [53]:
train=pd.read_csv('train.csv')

In [54]:
train.head()

    image_id  width  height                         bbox   source
0  b6ab77fd7   1024    1024   [834.0, 222.0, 56.0, 36.0]  usask_1
1  b6ab77fd7   1024    1024  [226.0, 548.0, 130.0, 58.0]  usask_1
2  b6ab77fd7   1024    1024  [377.0, 504.0, 74.0, 160.0]  usask_1
3  b6ab77fd7   1024    1024  [834.0, 95.0, 109.0, 107.0]  usask_1
4  b6ab77fd7   1024    1024  [26.0, 144.0, 124.0, 117.0]  usask_1

In [55]:
train.describe()

          width    height
count  147793.0  147793.0
mean     1024.0    1024.0
std         0.0       0.0
min      1024.0    1024.0
25%      1024.0    1024.0
50%      1024.0    1024.0
75%      1024.0    1024.0
max      1024.0    1024.0